
{#
-------------------------------------------------------------------
   @name phoneHref
   @param {string} phoneNumber
   @param {extension} (optionnal, default to null)

   Usage (both macros are used in the following example)
   
   {% import '_macros/index.twig' as macros %}
   
   <a href="{{ macros.phoneHref(entry.sharedPhone, entry.sharedExtension) }}">
      {{ macros.phoneLabel(entry.sharedPhone, entry.sharedExtension) }}
   </a>

-------------------------------------------------------------------
#}
{%- macro phoneHref(phoneNumber, extension = null) -%}
   {%- set number = phoneNumber|replace('/[^0-9]+/', '') -%}
   {%- set ext = extension ? ";ext=#{extension}" : ''  -%}
   {%- if number or ext -%}
      {{ "tel:#{number}#{ext}" }}
   {%- endif -%}
{%- endmacro -%}

{#
-------------------------------------------------------------------
   @name phoneLabel
   @param {string} phoneNumber
   @param {extension} (optionnal, default to null)
-------------------------------------------------------------------
#}
{%- macro phoneLabel(phoneNumber, extension = null) -%}
   {{ phoneNumber }}{%- if extension -%}{{ ' ext: '|t ~ extension }}{%- endif -%}
{%- endmacro -%}