<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{currentSite.language}}">
	<head>
		{% block head %}
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta charset="utf-8">
			<title>{{ currentSite.group.name }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" type="text/css" href="{{ alias('@rootUrl') }}/dist/theme.css">
			<link rel="shortcut icon" href="{{ alias('@rootUrl') }}/img/favicon.png">
		{% endblock %}
	</head>

	{% if entry is defined %}
	{% set bodyClass = entry.type ?: 'homepage' %}
	{% else %}
	{% set bodyClass = 'page' %}
	{% endif %}

	<body class="{{ bodyClass }}">
		{% block body %}

		{% include "_base/nav" %}

		<div class="document-wrapper" role="document">

			{% include "_base/header" %}

			<main class="content-wrapper"> {# use in gsap anim to fade in the content #}
				{% block content %}{% endblock %}
			</main>
		</div>

		{% include "_base/footer" %}

		<script src="{{ alias('@rootUrl') }}/dist/theme.js"></script>

		{% endblock %}
	</body>
</html>
