{#
   @param {boolean} removeCurrent

   Set it to false on include to show current language

   ### --------------------------------------------------

   @param {array} switcherLinks

   Allows you to override the switcher array or to manually create it if entry is not 
   defined (search results, checkout, etc.). If you include an array, it will 
   always have priority over the default logic

   Ex: switcherLinks: [ 
      {'url':'panier', 'title':'Français', 'language': 'fr-CA'}, 
      {'url':'en/cart', 'title':'English', 'language': 'en-CA'}, 
   ]

#}

{% set removeCurrent = removeCurrent is defined ? removeCurrent : true %}

{% if entry is defined and switcherLinks is not defined %}
   {% set switcherLinks = [] %}
   {# return only the ids of the enabled sites for this entry #}
   {% set entryEnabledSitesIds = entry.supportedSites|map(s => s.siteId) %}
   {# remove current site from the entryEnabledSitesIds if wanted #}
   {% if removeCurrent is same as(true) %}
      {% set entryEnabledSitesIds = entryEnabledSitesIds|without(currentSite.id) %}
   {% endif %}
   {# query all the sites and filter if in entryEnabledSitesIds previously created  #}
   {% set sitesElementsForThisEntry = craft.app.getSites().getAllSites()|filter(s => s.id in entryEnabledSitesIds) %}
   {# fetch the current entry for all sites that are enabled (we will grab URL from each next step) #}
   {% set currentEntryFromAllSites = craft.entries().siteId(entryEnabledSitesIds).id(entry.id).all() %}
   {# build the switcher links array #}
   {% for site in sitesElementsForThisEntry %}
      {% set siteEntry = currentEntryFromAllSites|filter(e => e.siteId is same as(site.id))|first %}
      {% if siteEntry %}
         {% set switcherLinks = switcherLinks|merge([{ url: siteEntry.url, title: site.name, language: site.language }]) %}
      {% endif %}
   {% endfor %}
{% endif %}

{# Simple loop through the switcherLinks array #}
{% if switcherLinks is defined and switcherLinks|length %}
   {% for switcherLink in switcherLinks %}
      <a 
         class="text-7 p-4 {{ currentSite.language is same as(switcherLink.language) ? 'font-bold' }}" 
         href="{{ url(switcherLink.url) }}" 
         hreflang="{{switcherLink.language}}" 
         lang="{{switcherLink.language}}" 
         aria-label="{{ 'Switch language'|t }}"
      >
         {{ switcherLink.title [0:2]|capitalize }}
      </a>
   {% endfor %}
{% endif %}
