<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{currentSite.language}}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{# PRECONNECT TO EXTERNAL RESSOURCES #}
		{# Delete typekit if not use or change it for google fonts #}
		<link rel="preconnect" href="https://p.typekit.net" crossorigin>
		<link rel="preconnect" href="https://use.typekit.net" crossorigin>
		<link rel="preconnect" href="{{ alias('@imagesUrl') }}" crossorigin>
		<link rel="preconnect" href="{{ alias('@docsUrl') }}/" crossorigin>
		<link rel="prefetch" href="{{ alias('@rootUrl') }}/img/svg-sprite.svg" as="image" type="image/svg+xml">
		{# TITLE #}
		<title>{{ (entry is defined and entry.uri == "__home__") ? currentSite.group.name : headerTitle ?? entry.title ~ ' | ' ~ currentSite.group.name }}</title>
		{# SEO #}
		<meta name="description" content="{{ entry.seoDescription|default(globalSeo.seoDescription ?? '') }}">
		<meta name="keywords" content="">
		<meta name="robots" content="index, follow">
		{# MOBILE #}
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">
		{# FAVICON #}
		<link rel="shortcut icon" href="{{ alias('@rootUrl') }}/img/favicon.png">
		{# INLINE CRITICAL CSS FOR HOME IF NOT IN DEV MODE - change it if you need to test #}
		{% if getenv('CRITICALCSS') == "true" and entry is defined and entry.uri == "__home__" %}
			<style>{{ source('/_base/critical/critical.css', ignore_missing = true) }}</style>{# inline critical css #}
			{% include "_base/hash/non-critical.twig" ignore missing %}{# load the full css with on load - see ejs for template #}
		{% else %}
			{# STYLE #}
			{% include "_base/hash/style.twig" ignore missing %}
		{% endif %}
		{# JS SCRIPT - with defer attr #}
		{% include "_base/hash/script.twig" ignore missing %}
		{# OPEN GRAPH LANG - loop through all sites if many #}
		<meta property="og:locale" content="{{ currentSite.language }}">
		{% set sites = currentSite.group.sites|without(currentSite) %}
		{% if sites|length %}
			{% for site in sites %}
				<meta property="og:locale:alternate" content="{{ site.language }}"/>
			{% endfor %}
		{% endif %}
		{# OPEN GRAPH INFO #}
		<meta property="og:site_name" content="{{ currentSite.group.name }}">
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ craft.app.request.absoluteUrl }}">
		<meta property="og:title" content="{{ headerTitle|default(entry.title ?? '') }}">
		<meta property="og:description" content="{{ entry.seoDescription|default(globalSeo.seoDescription ?? '') }}">
		{# OPEN GRAPH IMAGE #}
		{% set ogImageField = entry.seoOgImage|default(globalSeo.seoOgImage ?? null ) %}
		{% if ogImageField ?? null and ogImageField|length %}
			{% set ogImage = ogImageField.one() %}
			<meta property="og:image" content="{{ ogImage.url }}">
			<meta property="og:image:width" content="{{ ogImage.width }}">
			<meta property="og:image:height" content="{{ ogImage.height }}">
		{% endif %}
		{# HUMANS TXT INITIATIVE #}
		<link type="text/plain" href="{{ alias('@rootUrl') }}/humans.txt" rel="author">
	</head>
	<body>
		<a class="sr-only" href="#main">{{ 'Skip to main content'|t }}</a>
		{% include "_navigation/navbar" ignore missing %}
		{% include "_base/header" ignore missing %}
		<main id="#main" class="content-wrapper">
			{% block content %}{% endblock %}
		</main>
		{% include "_base/footer" ignore missing %}
		{# ---> ADD LINK TO WEBFONT HERE #}

		{# SCHEMA.ORG INFO - see Overdog SEO docs for how to use it #}
		{% block schema %}{% endblock %}
	</body>

</html>
