
<div class="navbar">
	<div class="container navbar__container">
		<div class="navbar__logo-wrapper">
			<a class="navbar__logo" id="logo" href="{{ alias('@rootUrl') }}" title="{{ siteName }}" aria-label="{{ 'Homepage'|t }}" rel="home">
				<svg class="navbar__logo-img"><use xlink:href="{{ alias('@svgPath') }}#logo-overdog"></use></svg>
			</a>
		</div>
		<button class="navbar__menu-button btn" type="button" aria-label="{{ 'Menu button'|t }}" aria-haspopup="true" aria-expanded="false">Menu</button>
	</div>
	{% include "_navigation/menu" %}
</div>
